@model MVCBasics.Models.Student
@{
    ViewData["Title"] = "Create Student";
}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <h2>Create New Student</h2>

                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)

                    <fieldset>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name)
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Gender)
                            @Html.EditorFor(model => model.Gender)
                            @Html.ValidationMessageFor(model => model.Gender)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Cohort)
                            @Html.EditorFor(model => model.Cohort)
                            @Html.ValidationMessageFor(model => model.Cohort)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Degree)
                            @Html.EditorFor(model => model.Degree)
                            @Html.ValidationMessageFor(model => model.Degree)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.GraduationDate)
                            @Html.EditorFor(model => model.GraduationDate)
                            @Html.ValidationMessageFor(model => model.GraduationDate)
                        </div>

                        <div>
                            <input type="submit" class="btn btn-primary" value="Create" />
                        </div>

                    </fieldset>
                }

                <div>
                    @Html.ActionLink("Cancel", "ShowAll")
                </div>

            </div>
        </div>
    </div>
</div>
