@model SchoolViewModel
@{
    ViewData["Title"] = Model.Name;
}

<h1>@Model.Name</h1>

<div class="clearfix">
    <div class="float-left">
        <h2>Teachers</h2>
    </div>
    <div class="float-right" style="margin-top: 2em;">
        <a class="btn btn-primary" href="@Url.Action("CreateTeacher")">
            <i class="fas fa-plus mr-2"></i>Create New
        </a>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Years Taught</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teacher in @Model.Teachers)
        {
            <tr>
                <td><a href="@Url.Action("Teacher", new { teacher.Id })">@teacher.Name</a></td>
                <td>@teacher.Gender.ToString()</td>
                <td>@teacher.YearsTaught years</td>
                <td>@teacher.Status.ToString()</td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-primary" href="@Url.Action("EditTeacher", new { teacher.Id })">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a class="btn btn-danger" href="@Url.Action("DestroyTeacher", new { teacher.Id })">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
