@model MVCBasics.Models.Student
@{
    ViewData["Title"] = "Student";
}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <h2>Student: @Model.Name</h2>

                <h4>Gender: @Model.Gender</h4>
                <h4>Cohort: @Model.Cohort</h4>
                <h4>Degree: @Model.Degree</h4>
                <h4>Graduation Date: @Model.GraduationDate</h4>
                
                <h3 class="mt-5">Courses</h3>

                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var course in @Model.Enrollments.Select(e => e.Course))
                        {
                            <tr>
                                <td><a href="@Url.Action("View", "Course", new { course.Id })">@course.Name</a></td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn btn-danger" title="Remove student from the class page instead" disabled="disabled" href="@Url.Action("Course", "RemoveStudent", new { course.Id, secondaryId = Model.Id })">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="form-actions mt-5">
                    <a class="btn btn-primary" href="@Url.Action("List")">Back</a>
                    <a class="btn btn-link" href="@Url.Action("Edit", new { @Model.Id })">Edit</a>
                </div>

            </div>
        </div>
    </div>
</div>
